@import '../../styles/mixins';

.poster {
  padding: 40px 16px 71px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../assets/imgPoster.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include onTablet {
    padding: 89px 0 88px;
  }

  @include onDesktop {
    padding: 164px 0 163px;
  }

  @include onLargeScreen {
    width: 1170px;
  }

  .wrapper {
    width: 328px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    @include onTablet {
      width: 380px;
    }
  }
}