@import '../../styles/mixins';

.usersInfo {
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @include onTablet {
    width: 704px;
  }

  @include onDesktop {
    width: 904px;
  }

  @include onLargeScreen {
    width: 1168px;
  }

  .usersList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include onTablet {
      gap: 16px;
    }
  
    @include onDesktop {
      gap: 29px;
    }
  }
}
