@import './utils/variables.scss';

h1, p {
  margin: 0;
  padding: 0;
  text-align: center;
  font: inherit;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

body {
  margin: 0;
  font-family: Nunito;
}

.app {
  width: 100vw;
  background-color: $background-color;
  padding-bottom: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}